<!DOCTYPE html>
<html>
    <head>
        <title>nh-fcc-metadata</title>
        <script src="/lib/jquery.min.js"></script>
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>
        {{{body}}}
    </body>
</html>